export default {
  apiKey: "<apiKey>",
  authDomain: "<authDomain>",
  projectId: "<projectId>",
  storageBucket: "<storageBucket>",
  messagingSenderId: "<measurementId>",
  appId: "<appId>",
  measurementId: "<measurementId>"
};
